<% update_breadcrumbs(add: link_to('Urgent Announcements', urgents_path), add: 'Edit') %>
<% nav %>

<div class="content">
  <div>
    <h1>Edit Urgent Announcement</h1>
    <%= render 'form', urgent: @urgent %>
  </div>
</div>
